<div class="eupopup eupopup-container eupopup-container-block">
 <div class="eupopup-markup">
   <div class="eupopup-head"></div>
   <div class="eupopup-body"></div>
   <div class="eupopup-buttons">
     <a href="#" class="eupopup-button eupopup-button_1"></a>
   </div>
   <div class="clearfix"></div>
   <a href="#" class="eupopup-closebutton">x</a>
 </div>
</div>