.collection-hero__inner {
  display: flex;
  flex-direction: column;
}

.collection-hero--with-image .collection-hero__inner {
  margin-bottom: 0;
  padding-bottom: 2rem;
}

@media screen and (min-width: 750px) {
  .collection-hero.collection-hero--with-image {
    overflow: hidden;
  }

  .collection-hero--with-image .collection-hero__inner {
    padding-bottom: 0;
  }
}

.collection-hero__text-wrapper {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .collection-hero {
    padding: 0;
  }

  .collection-hero__text-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  .collection-hero__inner {
    align-items: center;
    flex-direction: column;
    padding-bottom: 0;
  }
}

.collection-hero__title {
  margin: 2.5rem 0;
}


@media screen and (min-width: 750px) {
  .collection_left {
    width: 48%;
  }
  
  .collection-hero__description {
    width: 48%;
  }
}

.collection-hero--with-image .collection-hero__title {
  margin: 0 0 20px;
}

@media screen and (max-width: 749px) {
  .collection-hero__image-container {
    height: 206px;
    width: 100%;
    border: 0;
  }

  .desktop_only {
    display: none;
  }

  .collection-hero__description {
    margin-bottom: 20px;
  }

  .collection-hero--with-image .collection-hero__title {
    margin-top: 20px;
  }
}

@media screen and (min-width: 750px) {
  .collection-hero__image-container {
    height: 663px;
    width: 100%;
    border: 0;
  }

  .mobile_only {
    display: none;
  }

}

.sub-collections-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 78px);
  grid-gap: 15px;
}

.sub_collection_image {
  width: 78px;
  height: 99px;
  border-radius: 5.77px;
  overflow: hidden;
}

.sub_collection_image img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.sub-collection-item a {
  text-decoration: none;
}

.sub-collection-item:hover img {
  transform: scale(1.1); /* Scale up by 10% on hover */
}

@media screen and (max-width: 750px) { 
  .sub_collection_image {
    width: 68px;
    height: 86px;
    border-radius: 5px;
  }
}