.mega-menu {
  position: static;
}

.mega-menu__content {
  background-color: rgb(var(--color-background));
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  left: 0;
  overflow-y: auto;
  padding-bottom: 3rem;
  padding-top: 3rem;
  position: absolute;
  right: 0;
  top: 100%;
}

.shopify-section-header-sticky .mega-menu__content {
  max-height: calc(100vh - var(--header-bottom-position-desktop, 20rem) - 4rem);
}

.header-wrapper--border-bottom .mega-menu__content {
  border-top: 0;
}

.js .mega-menu__content {
  opacity: 0;
  transform: translateY(-1.5rem);
}

.mega-menu[open] .mega-menu__content,
.menu-item-has-children:hover .mega-menu__content,
.js .menu-item-has-children:hover .mega-menu__content {
  opacity: 1;
  transform: translateY(0);
}

.mega-menu__list {
  display: grid;
  gap: 1.8rem 4rem;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  list-style: none;
}

.mega-menu__link {
  color: rgba(var(--color-foreground), 0.75);
  display: block;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
  text-decoration: none;
  transition: text-decoration var(--duration-short) ease;
  word-wrap: break-word;
}

.mega-menu__link--level-2 {
  font-weight: bold;
}

.header--top-center .mega-menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 0;
}

.header--top-center .mega-menu__list > li {
  width: 16%;
  padding-right: 2.4rem;
}

.mega-menu__link:hover,
.mega-menu__link--active {
  color: rgb(var(--color-foreground));
  text-decoration: underline;
}

.mega-menu__link--active:hover {
  text-decoration-thickness: 0.2rem;
}

.mega-menu .mega-menu__list--condensed {
  display: block;
}

.mega-menu__list--condensed .mega-menu__link {
  font-weight: normal;
}

li.menu-item-has-children.menu-item-has-megamenu .sub-menu {
  left: 0;
  right: 0;
}

.list-menu > li {
  display: inline-flex;
  padding: 3px 10px;
  align-items: center;
}

li.menu-item-has-children.menu-item-has-megamenu {
  position: static;
}

.sub-menu {
  position: absolute;
  top: calc(100% - 1px);
  left: -11px;
  line-height: 1;
  padding: 17px 26px;
  border: 1px solid var(--color-border);
  background: var(--color-header-bg, var(--bg-body));
  list-style: none;
  margin: 0;
  text-align: left;
  white-space: nowrap;
  line-height: 1.1;
  min-width: 190px;
  opacity: 0;
  z-index: 2;
  visibility: hidden;
  transition: all .5s cubic-bezier(.19,1,.22,1);
}

.sub-menu.mega-menu-container {
  padding: 35px 40px;
  display: flex;
  gap: 20px;
  border: 0;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.with_megamenu_image .sub-menu.mega-menu-container {
  display: flex;
  flex-direction: column;
}

li.menu-item-has-children.menu-item-has-megamenu .sub-menu {
  left: 0;
  right: 0;
}

li.menu-item-has-children:hover>.sub-menu {
  visibility: visible;
  opacity: 1;
  opacity: 1;
  background-color: #fff;
}

@media only screen and (min-width: 1068px) {
  .menu-image-grid {
      display: grid;
      gap: 20px;
      list-style: none;
      margin: 0;
      white-space: initial;
      grid-template-columns: 1fr 1fr;
      width: 100%;
  }

  .menu-image-grid .full-menu--image {
      min-width: 50%;
      overflow: hidden;
  }
  .header__inline-menu .full-menu-horizontal {
      justify-content: end;
  }
  .header .logolink {
      min-width: 230px;
  }
  .list-menu li.menu-item-has-children.menu-item-has-megamenu .mega-menu-container {
      display: none;
      height: 0;
  }
  .list-menu li.menu-item-has-children.menu-item-has-megamenu:hover .mega-menu-container {
      display: block;
      height: auto;
  }
  .list-menu li.menu-item-has-children.menu-item-has-megamenu > .sub-menu,
  .list-menu li.menu-item-has-children > .sub-menu:not(.withsub) {
      left: 0;
      right: 0;
      transform: unset;
      min-width: 100vw;
      max-width: 100vw;
  
  }
  .list-menu li.menu-item-has-children:nth-last-child(2) > .sub-menu,
  .list-menu li.menu-item-has-children:nth-last-child(3) > .sub-menu,
  .list-menu li.menu-item-has-children:last-child > .sub-menu {
      right: 0;
      transform: unset;
  }
  .header__inline-menu .list-menu > li > a {
      padding: 27px 0;
      letter-spacing: 0;
  }
  .header__inline-menu .list-menu .sub-menu,
  .header__inline-menu .list-menu .sub-menu.mega-menu-container {
      border: 0;
  }
  .list-menu {
      gap: 20px;
  }
}

.header__inline-menu > .list-menu > li > a {
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 400;
}

.mobile-menu .parent-link-back {
  display: none;
}
.mobile-menu .sub-menu,
.mobile-menu li .link-container[open].menu-opening > .sub-menu {
  transform: unset;
}
.mobile-menu .sub-menu {
  position: relative;
}
.mobile-menu li > .link-container .link-forward > svg,
.mobile-menu li > .submenu-open .link-forward > svg {
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.mobile-menu li > .link-container[open] .link-forward > svg,
.mobile-menu li > .submenu-open[open] .link-forward > svg {
  transform: rotate(90deg);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.header__inline-menu .list-menu > li > a {
  font-size: 16px;
}
.header__inline-menu .mega-menu-wrapper {
  width: 100%;
}
.header__inline-menu .with_megamenu_image .sub-menu.mega-menu-container {
  display: flex;
  flex-direction: column;
}
.header__inline-menu .sub-menu .with_mimage .mega_image_wrapper > img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.header__inline-menu .sub-menu .with_mimage .mega_image_wrapper {
  width: 100%;
  height: 175px;
  overflow: hidden;
  margin-top: 20px;
}
.header__inline-menu .sub-menu *,
.header__inline-menu .list-menu .sub-menu > li > a {
  font-size: 15px;
  color: #151515;
  line-height: 1.2;
}
.header__inline-menu .sub-menu .full-menu--image-cover * {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 500;
}
.header__inline-menu .sub-menu .mega-menu-columns > li > a {
  text-transform: uppercase;
  font-size: 13px;
}
.full-menu--image-image {
  width: 100%;
  height: 175px;
  overflow: hidden;
}
.full-menu--image-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@media only screen and (max-width: 1067px) {
  .mobile-menu .link-container .sub-menu {
      padding: 0;
  }
  .mobile-menu li .link-container.submenu-open summary {
      border-bottom: 0;
  }
  .mobile-menu li .link-container.submenu-open {
      border-bottom: 1px solid var(--color-header-border, var(--color-border));
  }
  .mobile-menu li .sub-menu .menu-image-grid {
      max-width: 33.333%;
      display: inline-block;
      padding: 10px;
  }
  .mega-menu-columns,
  .mega-menu-columns ul {
      margin-left: 0;
  }
  .mega-menu-columns ul a,
  .mega-menu-columns li > a {
      border-bottom: 0;
  }
  .mega-menu-columns .mega-menu-columns__heading {
      opacity: 0.6;
  }
  .mega-menu-columns {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  .mega-menu-columns > li {
      width: 33.333%;
      padding-bottom: 20px;
  }
  .mega-menu-columns > li ul li a {
      min-height: unset;
  }
  .mobile-menu li[open] .menu-opening > .sub-menu {
      visibility: visible;
  }
}
@media only screen and (max-width: 650px) {
  .mobile-menu li .sub-menu .menu-image-grid {
      max-width: 50%;
  }
  .mega-menu-columns > li {
      width: 50%;
  }
}
@media only screen and (max-width: 500px) {
  .mobile-menu li .sub-menu .menu-image-grid {
      max-width: 100%;
  }
}

