.related-products {
  display: block;
}

.related-products__heading {
  margin: 0 0 3rem;
}

@media only screen and (max-width: 1200px) {
  .related-products__heading {
    padding: 0;
  }
}


@media only screen and (max-width: 450px) {
.related-products__heading  {
  padding-left: 1.5rem
}
.template-product .related-products ul li  {
  margin-left: 0!important;
  }

.template-product .related-products   {
  padding-left: 0;
  padding-right: 0;
  }  

.template-product .related-products .card__content {
  padding: 0 1.5rem;
  } 

}