.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 30px;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 990px) {
  .main-page-title {max-width: 60%;}
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}

.template--about .rich-text__text {
  font-size: var(--body-lg);
  line-height: 150%;
}