.blog-articles {
  display: grid;
  grid-gap: 1rem;
  column-gap: var(--grid-mobile-horizontal-spacing);
  /*row-gap: var(--grid-mobile-vertical-spacing);*/
  row-gap: 80px;
}
.article-card__info {padding-bottom: 1rem; padding-top: 1rem;}
.main-blog .title--primary {display: none;}
.article-card__excerpt {margin: 0 auto 3rem;}
.blog-articles .card-wrapper {
  width: 100%;
}

.text_link .read-more {
  justify-content: flex-start;
}

.read-more {
  text-decoration: underline; 
  text-underline-offset: .5rem;
}

@media screen and (min-width: 750px) {
  .blog-articles {
    /*grid-template-columns: 1fr 1fr;*/
    column-gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing);
    display: flex;
    flex-wrap: wrap;
    row-gap: 100px;
  }

  .blog-articles--collage > *:nth-child(3n + 1),
  .blog-articles--collage > *:nth-child(3n + 2):last-child {
    grid-column: span 2;
    text-align: center;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .card,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .card {
    text-align: center;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--small .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--small .ratio::before {
    padding-bottom: 22rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--medium .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--medium .ratio::before {
    padding-bottom: 44rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--large .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--large .ratio::before {
    padding-bottom: 66rem;
  }

  .blog-articles .article:nth-child(1),
  .blog-articles .article:nth-child(4) {
    width: calc(100% + 80px); 
    margin-left: -40px; 
    margin-right: -40px;
  }

  .blog-articles .article:nth-child(1) .article-card__excerpt,
  .blog-articles .article:nth-child(4) .article-card__excerpt  {
    font-size: var(--body-lg);
    line-height: 150%;    
  }
  .blog-articles .article:nth-child(n+2):nth-child(-n+3), 
  .blog-articles .article:nth-child(n+5):nth-child(-n+6), 
  .blog-articles .article:nth-child(n+10):nth-child(-n+11){flex-basis: calc(50% - 20px);}
  .blog-articles .article:nth-child(n+7):nth-child(-n+9), 
  .blog-articles .article:nth-child(n+12):nth-child(-n+14) {flex-basis: calc(33.33% - 20px);} 
  .blog-articles .article:nth-child(1) .card ,.blog-articles .article:nth-child(4) .card { flex-direction: row; align-items: flex-end; column-gap: 20px; }
  .blog-articles .article:nth-child(1) .card__information, .blog-articles .article:nth-child(4) .card__information {padding-right: 80px;}
  .blog-articles .article:nth-child(1) .card__inner, .blog-articles .article:nth-child(4) .card__inner {
    min-height: 730px;
  }
  .blog-articles .article:nth-child(1) .card__content,
  .blog-articles .article:nth-child(4) .card__content{
    padding-bottom: 70px;
  }

  .blog-articles .article:nth-child(n+2):nth-child(-n+3) .card__inner, .blog-articles .article:nth-child(n+5):nth-child(-n+6) .card__inner, .blog-articles .article:nth-child(n+10):nth-child(-n+11) .card__inner {min-height: 70vh;}
  .blog-articles .article:nth-child(n+7):nth-child(-n+9) .card__inner,  .blog-articles .article:nth-child(n+12):nth-child(-n+14) .card__inner {min-height: 53vh;}
  
}

@media screen and (min-width: 990px) {
  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--small .ratio .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--small .ratio .ratio::before {
    padding-bottom: 27.5rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--medium .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--medium .ratio::before {
    padding-bottom: 55rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--large .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--large .ratio::before {
    padding-bottom: 82.5rem;
  }
}

@media screen and (max-width: 1728px) {
  .blog-articles .article:nth-child(1) .card__inner {
    border-radius: 0 22px 22px 0;
  }
}

@media screen and (max-width: 749px) {
  .blog-articles .article:nth-child(1), 
  .blog-articles .article:nth-child(4)  {
    margin-left: -30px;
    margin-bottom: 50px;
  }   
  .blog-articles .article:nth-child(1) .card__content,
  .blog-articles .article:nth-child(4) .card__content{padding-left: 30px;}
  .blog-articles {row-gap: 30px;}
}





