@font-face {
    font-family: 'Supreme LL TT';
    src: url(//lanolips.com/cdn/shop/t/169/assets/SupremeLLTT-Bold.eot?v=21243253387420367661747403896);
    src: url(//lanolips.com/cdn/shop/t/169/assets/SupremeLLTT-Bold.eot?v=21243253387420367661747403896?#iefix) format('embedded-opentype'),
        url(//lanolips.com/cdn/shop/t/169/assets/SupremeLLTT-Bold.woff2?v=116408267739735448901747403896) format('woff2'),
        url(//lanolips.com/cdn/shop/t/169/assets/SupremeLLTT-Bold.woff?v=180973692646148220031747403896) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme LL TT';
    src: url(//lanolips.com/cdn/shop/t/169/assets/SupremeLLTT-Italic.eot?v=143679199302653690131747403898);
    src: url(//lanolips.com/cdn/shop/t/169/assets/SupremeLLTT-Italic.eot?v=143679199302653690131747403898?#iefix) format('embedded-opentype'),
        url(//lanolips.com/cdn/shop/t/169/assets/SupremeLLTT-Italic.woff2?v=148065613667015160491747403899) format('woff2'),
        url(//lanolips.com/cdn/shop/t/169/assets/SupremeLLTT-Italic.woff?v=133697296636218879181747403898) format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme LL TT';
    src: url(//lanolips.com/cdn/shop/t/169/assets/SupremeLLTT-BoldItalic.eot?v=17411120283839783791747403897);
    src: url(//lanolips.com/cdn/shop/t/169/assets/SupremeLLTT-BoldItalic.eot?v=17411120283839783791747403897?#iefix) format('embedded-opentype'),
        url(//lanolips.com/cdn/shop/t/169/assets/SupremeLLTT-BoldItalic.woff2?v=11990520509935709751747403898) format('woff2'),
        url(//lanolips.com/cdn/shop/t/169/assets/SupremeLLTT-BoldItalic.woff?v=152295397608984806771747403897) format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme LL TT';
    src: url(//lanolips.com/cdn/shop/t/169/assets/SupremeLLTT-Medium.eot?v=100425598373803925401747403899);
    src: url(//lanolips.com/cdn/shop/t/169/assets/SupremeLLTT-Medium.eot?v=100425598373803925401747403899?#iefix) format('embedded-opentype'),
        url(//lanolips.com/cdn/shop/t/169/assets/SupremeLLTT-Medium.woff2?v=70252046635340972591747403900) format('woff2'),
        url(//lanolips.com/cdn/shop/t/169/assets/SupremeLLTT-Medium.woff?v=181438203924016257101747403900) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme LL TT';
    src: url(//lanolips.com/cdn/shop/t/169/assets/SupremeLLTT-MediumItalic.eot?v=149015846970860913171747403900);
    src: url(//lanolips.com/cdn/shop/t/169/assets/SupremeLLTT-MediumItalic.eot?v=149015846970860913171747403900?#iefix) format('embedded-opentype'),
        url(//lanolips.com/cdn/shop/t/169/assets/SupremeLLTT-MediumItalic.woff2?v=99874639454752355351747403901) format('woff2'),
        url(//lanolips.com/cdn/shop/t/169/assets/SupremeLLTT-MediumItalic.woff?v=67406370831606169131747403901) format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme LL TT';
    src: url(//lanolips.com/cdn/shop/t/169/assets/SupremeLLTT-Regular.eot?v=90437164420246295361747403901);
    src: url(//lanolips.com/cdn/shop/t/169/assets/SupremeLLTT-Regular.eot?v=90437164420246295361747403901?#iefix) format('embedded-opentype'),
        url(//lanolips.com/cdn/shop/t/169/assets/SupremeLLTT-Regular.woff2?v=134439739117001195951747403902) format('woff2'),
        url(//lanolips.com/cdn/shop/t/169/assets/SupremeLLTT-Regular.woff?v=36293971228976996061747403902) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lanoscript';
    src: url(//lanolips.com/cdn/shop/t/169/assets/Lanoscript-Display.eot?v=133851437578531395181747403876);
    src: url(//lanolips.com/cdn/shop/t/169/assets/Lanoscript-Display.eot?v=133851437578531395181747403876?#iefix) format('embedded-opentype'),
        url(//lanolips.com/cdn/shop/t/169/assets/Lanoscript-Display.woff2?v=111315958578725553661747403877) format('woff2'),
        url(//lanolips.com/cdn/shop/t/169/assets/Lanoscript-Display.woff?v=47930502250091137741747403876) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.localization_top_left {
    width: 79px;
}

.localization_top_left .country-selector {
    left: 0;
    width: auto;
    right: auto;
    /*padding: 0 10px 0 29px;*/
    padding: 0 10px 0 10px;
    box-shadow: unset;
    border: 0;
    border-radius: 4px;
    animation: unset;
}

.localization_top_left .country-selector a,
.localization_top_left  .disclosure {
    text-decoration: none;
    font-size: var(--body-sm);
    font-weight: 400;
    line-height: 135%;
    color: var(--Lano-Blue);
}

.js .header-localization.localization_top_left .localization-form__select {
    height: auto;
    gap: 10px;
    padding: 0;
    font-size: var(--body-sm);
    font-weight: 400;
    line-height: 135%;
}

.header-localization.localization_top_left .localization-form__select:after {
    border: 0;
}

.js .header-localization.localization_top_left span,
.localization_top_left .country-selector a:hover,
.localization_top_left .country-selector a.local-active {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.header-localization.localization_top_left .country-selector__list--with-multiple-currencies {
    width: auto;
    min-width: auto;
}

@media screen and (min-width: 990px) {
    .search-modal__form {
        width: 100%;
        max-width: 100%;
    }

    .search-modal__form .field{
        max-width: 714px;
        margin: 0 auto 35px;
    }

    .search-modal__content {
        padding: 0;
    }

    .predictive-search.predictive-search--header {
        width: 100vw;
        left: 0;
        right: 0;
    }

    .predictive-search__results-list.grid  .grid__item {
        width: calc(33.33% - var(--grid-desktop-horizontal-spacing)* 2 / 3);
        max-width: calc(33.33% - var(--grid-desktop-horizontal-spacing) / 3);
    }
}

.predictive-search--empty {
    display: block;
    width: 100vw;
}

@media screen and (max-width: 749px) {
  .localization_top_left {
    width: 100%;
    position: relative;
  }

  .localization_top_left .country-selector {
    position: absolute;
    top: auto;
    left: 19px!important;
  }
}

 

